h1{
	font-family: Lithos Pro;
	color: white;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow:2px 3px 5px #212F3C;
}
p{
	text-indent: 25px;
	color: #ECF0F1;
}
span{
	font-variant: small-caps;
	color: white;
	font-weight: bold;
	text-shadow:2px 3px 5px #212F3C;
	color: white;
}
#external{
	text-shadow:2px 3px 5px #212F3C;
	color: white;
}
body{
	background-color: #62809E;
}
#img1{
	border-style: solid;
	border-color: #212F3C;
	float: right;
}
small{
	color: white;
}
